@media screen and (orientation: portrait) {
    #game {
        max-height: 915px;
        max-width: 412px;
    }
    #game-row-1 {
        flex-direction: column;
        flex-grow: 1;
    }
    .info-card {
        width: 100%;
        height: 33%;
        flex-grow: 1;
    }
    #player-char-info1 ,#player-char-info2 {
        width: 100%;
        height: 33%;
        flex-grow: 1
    }
    #event-text-container {
        max-height: 25%;
    }
}
  
@media screen and (orientation: landscape) {
    #game {
        max-height: 412px;
        max-width: 915px;
    }
    #game-row-1 {
        flex-direction: row;
        flex-grow: 1;
    }
    .info-card {
        flex-grow: 1;
        width: 33%  
    }
    .player-sprite {
       flex-grow: 1;
       width: 34%
    }
    #event-text-container {
        width: 33%
    }
}

@font-face {
    font-family: 'Fira Mono'; /* Name your font family */
    src: url('fonts/FiraMono-Regular.ttf'); /* Locate the .ttf file within your directory*/
}

* {
    margin: 0;
    padding: 0;
    user-select: none;
}

/* GENERAL */

body {
    width: calc(100vw - 1px);
    height: calc(100vh - 1px);
    margin: 0;
    padding: 0;
    font-family: 'Fira Mono', monospace;
    font-size: 11px;
    color: rgb(219, 219, 219);
    background-color: rgb(49, 49, 53);
    /*overflow: hidden;*/
}

img {
    user-select: none;
}

button {
    color: rgb(219, 219, 219);
    background-color: rgb(49, 49, 53);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Fira Mono', monospace;
    font-size: 14px;
    margin: 0;
    width: 150px;
}

.btn-medium {
    width: 65px;
}

.btn-small {
    width: auto;
    padding: 0 5px;
}

hr {
    margin: 0;
    height: 3px;
    border: none;
    background-color: rgba(0,0,0, 0.3);
}

.disabled {
    pointer-events: none;
    opacity: 60%;
}

.clickable {
    cursor: pointer;
    text-decoration: underline;
}

/* GAMING STUFF */

.popup-div {  
    display: none;
    position: fixed;
    z-index: 2;
    width: 300px;
    height: 300px;
    background-color: rgb(49, 49, 53);
    border: 3px solid rgb(19, 19, 19);
    border-radius: 8px;
    text-align: center;
    /*font-size: 14px;*/
}


.player-info-section {
    display: inline-block;
    width: 49%;
    vertical-align: top;
}

.popup-div p {
    font-size: 12px;
}

.popup-div-img {
    width: 20%;
}

.popup-div h3 {
    margin-top: 5px;
}

.unclickable {
    pointer-events: none;
}

/* GAME STUFF */

#game {
    height: 100%;
    position: relative;
}

#game-header {
    display: inline-block;
}

/* BUTTON ROW */
#button-bar {
    display: block;
    min-height: 30px;
    text-align: right;
}

#get-player-char-btn {
    height: 30px;
}

#event-start-btn {
    display: none;
    height: 30px;
}

#event-end-btn {
    display: none;
    height: 30px;
}
#game-start-area {
    max-width: 100%;
    height: 88%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

/* GAME ROW 1*/
#game-row-1 {
    max-width: 100%;
    height: calc(100% - 30px);
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.window-header {
    font-size: 12px;
    filter: drop-shadow(1px 1px 0 rgba(0,0,0,0.7))
        drop-shadow(-1px 1px 0 rgba(0,0,0,0.7))
        drop-shadow(1px -1px 0 rgba(0,0,0,0.7))
        drop-shadow(-1px -1px 0 rgba(0,0,0,0.7));
}

.info-card {
    vertical-align: top;
    background-color: rgb(49, 49, 53);
    color: rgb(219, 219, 219);
}

.player-sprite {
    position: relative;
    max-width: 100%;
    /*background: url("img/events/location_bg/woods/0.png") rgba(0, 0, 0, 0.3);*/
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center center;
}

#pc-img-container {
    position: relative;
    height: 100%;
}

#pc-img-container img {
    margin-left: 50%;
    transform: translateX(-50%);
    position: absolute;
    bottom: 0px;
    vertical-align: bottom;
    image-rendering: pixelated;
}




/* ##### PLAYER CHAR CARD STUFF ##### */
.pc-hp-expbar-container {
    position: relative;
    bottom: 32px;
    z-index: 2;
    max-height: 28px;
}
.hp-bar-under {
    text-align: center;
    width: 100%;
    display: block;
    height: 16px;
    background-color: rgba(0,0,0, 0.3);
}

.hp-bar-over {
    width: 100%;
    height: 100%;
    background-color: rgb(72, 136, 65);
}

#pc-hp-text {
    position: relative;
    bottom: 12px;
    z-index: 3;
    font-size: 10px;
    text-shadow: rgb(0, 0, 0) 1px 0px 0px, rgb(0, 0, 0) 0.540302px 0.841471px 0px, rgb(0, 0, 0) -0.416147px 0.909297px 0px, rgb(0, 0, 0) -0.989992px 0.14112px 0px, rgb(0, 0, 0) -0.653644px -0.756802px 0px, rgb(0, 0, 0) 0.283662px -0.958924px 0px, rgb(0, 0, 0) 0.96017px -0.279415px 0px;
}

.pc-attr-container {
    display: inline-block;
    border-right: 1px solid black;
}

.pc-statbar-under {
    width: calc(56% - 20px);
    left: 0;
    display: inline-block;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.15);
}

.pc-statbar-over {
    height: 100%;
    background-color: rgba(255,255,255,0.7);
}

.res-container {
    vertical-align: top;
    display: inline-block;
}

.pc-info-line {
    text-align: left;
}

.pc-expbar-under {
    width: 100%;
    display: inline-block;
    height: 10px;
    background-color: rgba(0,0,0, 0.3);
}

#pc-exp-text {
    position: relative;
    bottom: 11px;
    z-index: 3;
    text-align: center;
    font-size: 10px;
    text-shadow: rgb(0, 0, 0) 1px 0px 0px, rgb(0, 0, 0) 0.540302px 0.841471px 0px, rgb(0, 0, 0) -0.416147px 0.909297px 0px, rgb(0, 0, 0) -0.989992px 0.14112px 0px, rgb(0, 0, 0) -0.653644px -0.756802px 0px, rgb(0, 0, 0) 0.283662px -0.958924px 0px, rgb(0, 0, 0) 0.96017px -0.279415px 0px;
}

.pc-expbar-over {
    height: 100%;
    background-color: rgb(66, 132, 170);
}

.consumable-container {
    display: flex;
}

.consumable-img-container {
    float:left;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    height: 48px;
    width: 48px;
    border: 1px solid gray;
    border-radius: 25%;
    text-align: center;
    cursor: pointer;
}


.consumable-info button {
    width: 50px;
    font-size: 14px;
}

/* ##### EVENT STUFF ##### */
.event-div {
    image-rendering: pixelated;
    display: none;
    /*background: url("img/events/location_bg/woods/0.png") rgba(0, 0, 0, 0.3);*/
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center center;
}

#event-header {
    text-align: left;
}

.event-sprite-img-container {
    position: relative;
    height: calc(100% - 20px);
    vertical-align: top;
}

.event-sprite-img {
    margin-left: 50%;
    transform: translateX(-50%);
    position: absolute;
    bottom: 4px;
    image-rendering: pixelated;
}

/* BATTLE EVENT */
#enemy-img-container {
    position: relative;
    height: calc(100% - 60px);
    cursor: pointer;
    /*user-select: none;*/
}

#enemy-img-container img {
    margin-left: 50%;
    transform: translateX(-50%);
    position: absolute;
    bottom: 0;
    vertical-align: bottom;
    image-rendering: pixelated;
}

#enemy-hp-text {
    position: relative;
    top: -12px;
    z-index: 10;
    font-size: 10px;
    text-shadow: rgb(0, 0, 0) 1px 0px 0px, rgb(0, 0, 0) 0.540302px 0.841471px 0px, rgb(0, 0, 0) -0.416147px 0.909297px 0px, rgb(0, 0, 0) -0.989992px 0.14112px 0px, rgb(0, 0, 0) -0.653644px -0.756802px 0px, rgb(0, 0, 0) 0.283662px -0.958924px 0px, rgb(0, 0, 0) 0.96017px -0.279415px 0px;
}

.enemy-info-line {
    background-color: rgba(0,0,0, 0.5);
}

.enemy-info-line.name {
    text-align: center;
}
.enemy-info-line.joblvl {
    text-align: center;
}

.battle-text-row.player {
    color: rgb(150, 255, 150);
}
.battle-text-row.enemy {
    color: rgb(255, 150, 150);
}

/*##### INN EVENT #####*/

.btn-inn {
    width: 50px;
}

/* ##### TRAINER EVENT ##### */


/* EVENT TEXT */
#event-text-container {
    display: none;
    vertical-align: top;
    background-color: rgb(49, 49, 53);
    color: rgb(219, 219, 219);
    overflow: auto;
}

#event-btn-container {
    text-align: center;
}

.btn-inn {
    margin: auto;
}

.btn-inn.yes {
    left: -5px;
    margin-right: 5px;
}

.btn-trainer {
    width: 50px;
}

.btn-trainer.no {
    left: -5px;
    margin-right: 5px;
}

/* animations etc */
.fade-out {
    animation: fadeOut ease 2s;
    animation-fill-mode: forwards;
  }
  
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

/* ICON FONT GLYPHTER STUFF */
/* Generated by Glyphter (http://www.glyphter.com) on  Thu Aug 29 2024*/
@font-face {
    font-family: 'Glyphter';
    src: url('../fonts/Glyphter.eot');
    src: url('fonts/Glyphter.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
[class*='icon-']:before{
	display: inline-block;
   font-family: 'Glyphter';
   font-style: normal;
   font-weight: normal;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   transform: rotateX(180deg);
   vertical-align: top;
}
.icon-gold:before{content:'\004b';}
.icon-sword:before{content:'\004a';}
.icon-shield:before{content:'\0048';}
.icon-female:before{content:'\004c';}
.icon-male:before{content:'\004d';}
.icon-cold:before{content:'\0041';}
.icon-electric:before{content:'\0042';}
.icon-fire:before{content:'\0043';}
.icon-holy:before{content:'\0044';}
.icon-nature:before{content:'\0045';}
.icon-physical:before{content:'\0046';}
.icon-poison:before{content:'\0047';}
.icon-water:before{content:'\0049';}
.icon-chr:before{content:'\004e';}
.icon-dex:before{content:'\004f';}
.icon-end:before{content:'\0050';}
.icon-int:before{content:'\0051';}
.icon-lck:before{content:'\0052';}
.icon-lck2:before{content:'\0053';}
.icon-str:before{content:'\0054';}
.icon-wis:before{content:'\0055';}
.icon-agi:before{content:'\0056';}

.icon-gold{color: gold;}
.icon-sword {color: white;}
.icon-shield {color: white;}
.icon-female {color: white; line-height: 0.8;}
.icon-male {color: white; line-height: 0.8;}

.icon-cold {color: lightblue;}
.icon-electric  {color: yellow;}
.icon-fire  {color: rgb(255, 136, 0);}
.icon-holy {color: rgb(241, 241, 171);}
.icon-nature {color: rgb(131, 199, 67);}
.icon-physical {color: burlywood;}
.icon-poison {color: rgb(157, 130, 255);}
.icon-water {color: rgb(95, 176, 252);}

.icon-chr {color: white;}
.icon-dex {color: white;}
.icon-end {color: white;}
.icon-int {color: white;}
.icon-lck {color: white;}
.icon-lck2 {color: white;}
.icon-str {color: white;}
.icon-wis {color: white;}
.icon-agi {color: white;}



/*Generated by Glyphter (http://www.glyphter.com) on  Thu Aug 29 2024
@font-face {
    font-family: 'Glyphter';
    src: url('fonts/Glyphter.eot');
    src: url('/fonts/Glyphter.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Glyphter.woff') format('woff'),
         url('fonts/Glyphter.ttf') format('truetype'),
         url('../fonts/Glyphter.svg#Glyphter') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class*='icon-']:before{
	display: inline-block;
   font-family: 'Glyphter';
   font-style: normal;
   font-weight: normal;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   transform: rotateX(180deg);
}
.icon-nature:before{content:'\0041';}
.icon-physical:before{content:'\0042';}
.icon-water:before{content:'\0043';}
.icon-cold:before{content:'\0044';}
.icon-electric:before{content:'\0045';}
.icon-fire:before{content:'\0046';} /*